[submodule "JSONKit"]
	path = JSONKit
	url = https://github.com/johnezang/JSONKit
[submodule "JDFlipNumberView"]
	path = JDFlipNumberView
	url = https://github.com/jaydee3/JDFlipNumberView.git
[submodule "AFNetworking"]
	path = AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
